/* .box-line:hover, .box-line *:hover { */
.box-line {
    /* background-color: red; */
    /* display: inline-block; */
    /* cursor: pointer; */
}
.box-item {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 90%;
    vertical-align: bottom;
    /* background-color: ghostwhite; */
    /* cursor: pointer;
    display: contents; */
}
.box-item img:hover {
    /* background-color: burlywood; */
    cursor: pointer;
}

#dialog_ctrl_more div {
    margin-top: 6px;
    margin-bottom: 6px;
}

#dialog_ctrl_more fieldset div {
    margin-left: 10px;
}

.horizontal-align {
    display: inline-block;   /* Setzt das Layout auf Inline-Block */
}

.horizontal-align img,
.horizontal-align span {
    display: inline-block;   /* Macht alle Elemente inline-block */
    vertical-align: middle;  /* Vertikale Zentrierung */
}

.debug-frame {
    border: 1px solid darkgray;
    padding-top: 2px;
    display: inline-block;
    border-radius: 5px;
}

.debug-frame img {
    cursor: pointer;
}

.debug-general-button {
    border: 1px solid darkgray;
    display: inline-block;
    border-radius: 5px;
    vertical-align: text-bottom;
    cursor: pointer;
}

.debug-button {
    border: none;
    background-color: transparent;
}
.debug-button-1 {
    /* border: none;
    background-color: transparent; */
    border: 1px solid darkgray;
    /* padding-top: 4px; */
    padding: 3px 3px 0px 3px;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
}
.debug-button-1:hover {
    background-color: beige;
}


.inlineDecorationPre {
    background-color: rgba(255, 0, 0, 0.25);
    padding-bottom: 2px
}
.inlineDecorationPost {
	/* text-decoration: dashed underline; */
    /* text-decoration-color: red; */
	font-style: oblique;
    background-color: rgba(255, 0, 0, 0.25);
    padding-bottom: 2px
}
.inlineDecorationBreakpoint-old {
  	/* text-decoration: double underline;
    text-decoration-color: red; */

    text-decoration: underline; /* Unterstreichung */
    text-decoration-color: rgb(183, 2, 2); /* Farbe der Unterstreichung */
    text-decoration-thickness: 4px; /* Dicke der Unterstreichung */
    text-underline-offset: 4px; /* Abstand der Unterstreichung zum Text */

    /* background-color: rgba(255, 0, 0, 0.512); */
    /* border-radius: 50%; */
}

.inlineDecorationBreakpoint {
    color: rgb(255, 78, 78) !important;
}
.inlineDecorationBreakpointGrey {
    color: gray !important;
}
.inlineDecorationBreakpointShadow {
    /* it's only a memory! */
    /* display: none; */
    color: rgb(165, 68, 68) !important;
}

.widget {
    position: absolute;
    /* border: 1px solid #4288b3; */
    /* border: 1px solid gray; */
    border-radius: 4px;
    margin: 10px;
    /* resize: both; */
    overflow: hidden;
}

.line-with-text {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 20px 0;
    padding-top: 10px;
    padding-bottom: 5px;
    /* justify-content: left; */
}

.line-with-text::before,
.line-with-text::after {
    content: "";
    flex: 1;
    border-top: 1px solid gray; /* Hier kannst du die Farbe und Dicke der Linie ändern */
}

.line-with-text span {
    padding: 0px 5px;
    /* font-weight: bold; */
}

.info {
    text-align: right;
    float: right;
}
.tooltip {
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    z-index: 1001;
}
  

.dia-widget {
    z-index: 1000;
    background-color: ghostwhite;
    padding: 0px;
}


.monaco {
    /* border: 1px solid grey; */
    /* height: 90%;
    width: 90%; */
    /* width: 10cm;
    height: 10cm; */
    width: 100%;
    height: 100%;
    /* resize: both;
    overflow: hidden; */
}

.header {
    /* float: right; */
    /* color: azure; */
    display: flex;
    flex-direction: row;

    /* margin: auto;
    width: 50%; */
    /* border: 1px solid gray; */
    /* padding: 10px; */

    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    
}

/* .header select, */
.header input {

    /* cursor: pointer; */
}

.custom-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: inline-block; /* Macht den Button inline-block */
}


/* .logo {
    
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
} */

.header div {
    margin: 6px;
}

.widget-header,
.widget-footer {
    /* background-color: rgb(255, 239, 196); */
    /* background-color: bisque; */
    /* background-color: wheat; */
    /* background-color: antiquewhite; */
    /* background-color: #ffeecf; */
    background-color: #f5deb3;
    font-weight: bold;
}

.widget-header {
    padding: 4px;
    cursor: grabbing;
}

body {
    /* background-color: bisque; */
    background-color: wheat;
    /* background-color: rgb(255, 239, 196); */
    /* background-color: #622f21; */
}

html,
body {
    min-width: 1200px;
    height: 100%;
}

.main {
    /* background-color: aqua; */
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
}

* {
    user-select: none;
    /* outline : none; */
    caret-color: transparent;
}


fieldset {
    padding: 1px;
}

body {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: Tahoma;
    font-size: 12px;
}